<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="competition-podium well">

  <div class="podium-block bronze">
    <div class="name">{{model.third}}</div>
    <div class="podium"><span>3<sup>ème</sup></span></div>
  </div>
  <div class="podium-block gold">
    <div class="name">{{model.first}}</div>
    <div class="podium"><span>1<sup>er</sup></span></div>
  </div>
  <div class="podium-block silver">
    <div class="name">{{model.second}}</div>
    <div class="podium"><span>2<sup>ème</sup></span></div>
  </div>

</div>
