<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="competition-podium well">

  <div class="podium-block bronze">
    <div class="name">{{puesto(2)}}</div>
    <div class="podium"><span>3<sup>°</sup></span></div>
  </div>
  <div class="podium-block gold">
    <div class="name">{{puesto(0)}}</div>
    <div class="podium"><span>1<sup>°</sup></span></div>
  </div>
  <div class="podium-block silver">
    <div class="name">{{puesto(1)}}</div>
    <div class="podium"><span>2<sup>°</sup></span></div>
  </div>

</div>
