<h1>Juego</h1>

<app-error-component></app-error-component>

<div *ngIf="!juegoResponse">
  <div class="panel panel-default">
    <div class="panel-heading"><label>Logica de robot 1</label></div>
    <div class="panel-body">
      <textarea [(ngModel)]="logica1" rows="10" style="width:100%;"></textarea>
    </div>
  </div>
  <div class="well well-lg">
    <button (click)="obtenerTablero()">Enviar</button>
  </div>
</div>

<div *ngIf="juegoResponse">
  <tablero-component [juegoResponse]="juegoResponse"></tablero-component>
  <div class="well well-lg">
    <button (click)="juegoResponse=null">Borrar</button>
  </div>
</div>




