<div class="col-xs-12">
  <p class="sobreElJuego">Programa tu robot para que resuelva turno a turno el juego y compita contra otros jugadores.</p>
  <img src="../../assets/automaton_home.gif" width="100%" />
</div>

<div class="col-xs-12">
  <br /> <br /><br /><br /><br />
</div>

<h2>Instrucciones</h2>
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Desplazamiento</h3>
    </div>
    <div class="panel-body">
      <div><img src="../../assets/regla_inicio.gif" width="100%" /></div>
      <div>
        <p>Cada jugador comienza en una esquina del tablero, pudiendo desplazarse 1 casillero por turno. Solo se permiten movimientos horizontales o verticales. No es posible moverse hacia casilleros ocupados por murallas ajenas.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Murallas</h3>
    </div>
    <div class="panel-body">
      <div><img src="../../assets/regla_muralla.gif" width="100%" /></div>
      <div>
        <p>El jugador podrá crear una muralla en su turno, sólo si el casillero está ocupado únicamente por él. Crear una muralla, consume el turno actual, por lo que deberá esperar al próximo turno para poder moverse.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Superposicion</h3>
    </div>
    <div class="panel-body">
      <div><img src="../../assets/regla_superposicion.png" width="100%" /></div>
      <div>
        <p>Un jugador puede avanzar sobre el casillero ocupado por otro jugador siempre y cuando no existe una muralla. Esto obliga a ese jugador a abandonar dicho casille y no le permite crear una muralla en el sitio.</p>
      </div>
    </div>
  </div>
</div>
