<div class="page-header"><h1>Torneo</h1><small> &lt; Clasificacion &gt;</small></div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr >
          <th *ngFor="let celda of cabecera()">
            <div class="celda">{{celda.texto}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of cuerpo()">
          <td *ngFor="let celda of fila" >
            <div class="celda">
              <a *ngIf="celda.idPartida" [routerLink]='["/partida", celda.idPartida]'>
                <div>{{celda.texto}}</div>
                <div *ngIf="celda.progreso" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngClass]="{'progress-bar-success': celda.progreso == 100, 'progress-bar-striped': celda.progreso < 100, 'active': celda.progreso < 100 }" [ngStyle]="{'width.%': celda.progreso}">
                    {{celda.descripcion}}
                  </div>
                </div>
              </a>
              <div *ngIf="!celda.idPartida">
                <div>{{celda.texto}}</div>
                <div *ngIf="celda.progreso" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngClass]="{'progress-bar-success': celda.progreso == 100,'progress-bar-striped': celda.progreso < 100, 'active': celda.progreso < 100 }" [ngStyle]="{'width.%': celda.progreso}">
                    {{celda.descripcion}}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
