.celda {
  width: 10vw;
}
.vericaltext {
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: x-large;
}
.horizontalText {
  text-align:center;
  letter-spacing: 1em;
  font-size:x-large;
}

.headerColor {
}

.descriptionText {
  font-size: 0.5em;
}

.progress {
  height: 3px;
  margin-bottom: 0px;
}
